.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/PlayingWithPowerBI/FileContentIndex/e260c5cd-3c62-427b-873a-124e01eb28c9.vsidx
.vs/PlayingWithPowerBI/FileContentIndex/read.lock
.vs/PlayingWithPowerBI/v17/.wsuo
